<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>APP DEEP LEARNING</title>
    </head>
    <body
        class="h-100 d-flex flex-row justify-content-center align-items-center             
            p-8
            min-h-screen
            bg-gradient-to-r
            from-red-400
            to-blue-500
            text-gray-800">
        <div class="d-flex flex-column justify-around bg-white p-16 rounded-lg mt-8">
            <h3 class="badge bg-primary align-self-start flex-column text-3xl font-bold mb-8">PREDIKSI PASIEN TERKENA DBD</h3>
	    
            <h3 class="text-2xl font-bold mb-8">Oleh : Kelompok 03 Kelas S</h3>
	        <h3> 1. Mohammad Rochman Liulin Nuha(1462100230)</h3>
            <h3 > 2. Ahmad Umar Farisi(1462100079)</h3>
            <h3 > 3. Ade Kholik Prasetya(1462100067)</h3>
            <h3 > 4. Muhammad Syahrul Gunawan(1462100009)</h3>
	</div>
	<div class="flex justify-around bg-white p-16 rounded-lg mt-8">
        <h3 class="badge bg-primary align-self-start flex-fill text-2xl font-bold mb-8">
        <form action="/predict" method="post" class="flex flex-col">
            <h3>Silahkan masukkan data:</h3>
            <label for="Gender" class="mt-4 mb-2">Gender</label>
            <input type="text" name="Gender" id="Gender" class="p-4 bg-gray-100 rounded-md">
            <label for="Age" class="mt-4 mb-2">Age</label>
            <input type="text" name="Age" id="Age" class="p-4 bg-gray-100 rounded-md">
            <label for="NS1" class="mt-4 mb-2">NS1</label>
            <input type="text" name="NS1" id="NS1" class="p-4 bg-gray-100 rounded-md">
            <label for="IgG" class="mt-4 mb-2">IgG</label>
            <input type="text" name="IgG" id="IgG" class="p-4 bg-gray-100 rounded-md">
            <label for="IgM" class="mt-4 mb-2">IgM</label>
            <input type="text" name="IgM" id="IgM" class="p-4 bg-gray-100 rounded-md">
            <label for="Area" class="mt-4 mb-2">Area</label>
            <input type="text" name="Area" id="Area" class="p-4 bg-gray-100 rounded-md">
            <label for="AreaType" class="mt-4 mb-2">AreaType</label>
            <input type="text" name="AreaType" id="AreaType" class="p-4 bg-gray-100 rounded-md">
            <label for="HouseType" class="mt-4 mb-2">HouseType</label>
            <input type="text" name="HouseType" id="HouseType" class="p-4 bg-gray-100 rounded-md">
            <label for="District" class="mt-4 mb-2">District</label>
            <input type="text" name="District" id="District" class="p-4 bg-gray-100 rounded-md">

            <button
                type="submit"
                class="
                    flex
                    justify-center
                    align-center
                    mt-8
                    p-4
                    bg-gradient-to-r
                    from-blue-400
                    to-red-500
                    text-white
                    rounded-md
                ">
                PREDIKSI SEKARANG
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-right ml-4"
                >
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
            </button>
        </form></h3>
    </div>
        
        <div class="d-flex flex-column justify-around bg-white p-16 rounded-lg mt-8">
            <h3 class="badge bg-primary align-self-start flex-column text-3xl font-bold mb-8">Prediksi : </h3>
            <h2 class="text-5xl font-bold"> {{ output }}</h2>    
	</div>
            <div class="flex justify-around bg-white p-16 rounded-lg mt-8">
                <img
                    class="h-24 md:h-28"
                    src="https://digitalent.kominfo.go.id/assets/@images/logo.png"
                    alt="logo-dts"
                />
                <img
                    class="h-24 md:h-28"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg/604px-Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg.png"
                    alt="logo-kominfo"
                />
            </div>
    </body>
</html>
